[user]
  name = hehe
  email = xpc1993@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  df = diff
  cp = cherry-pick
[core]
  editor = nvim
[pager]
  branch = false
[init]
  defaultBranch = main
